# Grocery Favorita: AWS DeepAR vs Custom Seq2Seq

<br>
<br>
<br>

<img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Corporaci%C3%B3n_Favorita_Logo.png"> 

<br>
<br>

## Overview
This notebook covers creating features (tensors and embeddings) for the Seq2Seq model. Only the top 5% most popular store-item pairs are considered for predictions; popularity is defined by the number of unique days sales took place. Additionally, the only features created are those that are readily available in the data provided; this is to benchmark the performance of a custom model versus the performance the deepAR timeseries model that AWS provides. Features are either instance specific (sales, promotion occurring, item details, store details) or shared among instances across dates (datetime details, oil price)

## Imports

In [291]:
import pandas as pd
import numpy as np
import os
import datetime as dt
import dask.dataframe as ddf
from embedder.preprocessing import (categorize, pick_emb_dim, encode_categorical)
from embedder.regression import Embedder
from embedder.assessment import visualize
import feather
import plotly.offline

## Feature Engineering
### Functions

In [2]:
# creates datetime featues when datetime column is given
def generate_datetimedf(df_datetime_col):
    
    from workalendar.usa import California
    from dateutil import easter
    import calendar
    import datetime as dt

    first_date = min(df_datetime_col)
    last_date = max(df_datetime_col)
    all_years = (df_datetime_col.apply(lambda x: x.year)).unique()

    cal = California()
    all_holidays = []
    for i in all_years:
        holidays = [x[0] for x in cal.holidays(i)]
        holidays = holidays+[easter.easter(i)]
        all_holidays.append(holidays)

    all_holidays = set([y for x in all_holidays for y in x])

    weekends = set(['Saturday', 'Sunday'])
    datetimedf = pd.DataFrame({
#         'datetime_calendar_year': df_datetime_col.apply(lambda x: x.year),
#                                'datetime_calendar_month': df_datetime_col.apply(lambda x: x.month),
#                                'datetime_calendar_day': df_datetime_col.apply(lambda x: x.day),
#                                'datetime_calendar_hour': df_datetime_col.apply(lambda x: x.hour),
#                                'datetime_day_of_year': df_datetime_col.apply(lambda x: x.timetuple().tm_yday),
                               'datetime_day_of_week': df_datetime_col.apply(lambda x: x.timetuple().tm_wday),
#                                'datetime_day_of_cycle': df_datetime_col.apply(lambda x: (x-first_date).days+1),
                               'datetime_is_weekend': df_datetime_col.apply(lambda x: 1 if calendar.day_name[x.weekday()] in weekends else 0),
#                                'datetime_is_holiday': df_datetime_col.apply(lambda x: 1 if x.date() in all_holidays else 0)
                               })

#     holiday_1d = [x+dt.timedelta(days=1) for x in list(all_holidays)] + \
#         [x+dt.timedelta(days=-1) for x in list(all_holidays)]
#     holiday_2d = holiday_1d+[x+dt.timedelta(days=2) for x in list(all_holidays)]+[
#         x+dt.timedelta(days=-2) for x in list(all_holidays)]
#     holiday_3d = holiday_2d+[x+dt.timedelta(days=3) for x in list(all_holidays)]+[
#         x+dt.timedelta(days=-3) for x in list(all_holidays)]
#     datetimedf['datetime_1d_away_holiday'] = df_datetime_col.apply(
#         lambda x: 1 if x.date() in set(holiday_1d) else 0)
#     datetimedf['datetime_2d_away_holiday'] = df_datetime_col.apply(
#         lambda x: 1 if x.date() in set(holiday_2d) else 0)
#     datetimedf['datetime_3d_away_holiday'] = df_datetime_col.apply(
#         lambda x: 1 if x.date() in set(holiday_3d) else 0)
#     holiday_7d = holiday_3d

#     for d in [4, 5, 6, 7]:
#         for i in [x+dt.timedelta(days=d) for x in list(all_holidays)]:
#             holiday_7d.append(i)
#         for t in [x+dt.timedelta(days=-d) for x in list(all_holidays)]:
#             holiday_7d.append(t)

#     datetimedf['datetime_within_7d_holiday'] = df_datetime_col.apply(
#         lambda x: 1 if x.date() in set(holiday_7d) else 0)
    
    datetimedf.index = df_datetime_col

    return datetimedf

In [3]:
def read_csv_generator(path,preview_csv=False):
    csvs = [x for x in os.listdir(path) if 'csv' in x]
    
    if not preview_csv:
        for csv in csvs:
            print(
                "%s_df = pd.read_csv('%s/%s')" % (csv.replace('.csv',
                                                              ''), path, csv)
            )
    else:
        for csv in csvs:
            print(csv)
            display(pd.read_csv('%s/%s' % (path, csv) ).head() )

### Loading Data

In [4]:
# # first time loading data
# types_dict = {'id': 'int32',
#              'item_nbr': 'int32',
#              'store_nbr': 'int8',
#              'unit_sales': 'float32'}

# train_df = pd.read_csv('data/train.csv', low_memory=True, dtype=types_dict, parse_dates=['date'])

In [5]:
# second time loading data
train_df = feather.read_dataframe('data/train_feather')

In [6]:
read_csv_generator('data')

transactions_df = pd.read_csv('data/transactions.csv')
items_df = pd.read_csv('data/items.csv')
oil_df = pd.read_csv('data/oil.csv')
holidays_events_df = pd.read_csv('data/holidays_events.csv')
stores_df = pd.read_csv('data/stores.csv')

In [7]:
transactions_df = pd.read_csv('data/transactions.csv')
items_df = pd.read_csv('data/items.csv')
oil_df = pd.read_csv('data/oil.csv')
holidays_events_df = pd.read_csv('data/holidays_events.csv')
stores_df = pd.read_csv('data/stores.csv')

In [8]:
read_csv_generator('data',preview_csv=1)

transactions.csv

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

items.csv

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

oil.csv

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

holidays_events.csv

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

stores.csv

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

### Filter to the Most Popular Store / Item Pairs

In [10]:
most_popular_store_items = train_df.groupby(
    ['store_nbr', 'item_nbr'])['date'].nunique()

In [11]:
most_popular_store_items.sort_values(ascending=False).describe()

count    174685.000000
mean        718.419097
std         514.831287
min           1.000000
25%         245.000000
50%         651.000000
75%        1133.000000
max        1679.000000
Name: date, dtype: float64

In [12]:
most_popular_store_items_df = most_popular_store_items[most_popular_store_items > np.percentile(most_popular_store_items, 95)].sort_values(ascending=False).reset_index()

In [13]:
%time

store_nbrs = set(list(most_popular_store_items_df['store_nbr']))
item_nbrs = set(list(most_popular_store_items_df['item_nbr']))

train_df = train_df[train_df.store_nbr.isin(store_nbrs)]
train_df = train_df[train_df.item_nbr.isin(item_nbrs)]

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 9.06 µs

### Instance Specific Features
- Sales
- Promotion
- Item Details (Tile By Number of Dates)
- Store Details (Tile By Number of Dates)

In [14]:
%%time
most_popular_store_items_df['raw_data'] = most_popular_store_items_df.apply(lambda row: train_df[(train_df.store_nbr == row['store_nbr']) & (train_df.item_nbr == row['item_nbr'])], axis=1)

CPU times: user 11min 46s, sys: 4min 25s, total: 16min 11s
Wall time: 16min 13s

In [15]:
# only create features between the latest earliest date and the earliest latest date for all instances
recent_min_date = most_popular_store_items_df['raw_data'].apply(lambda x: x['date'].min()).max()
latest_max_date = most_popular_store_items_df['raw_data'].apply(lambda x: x['date'].max()).min()

print(recent_min_date, latest_max_date)

(Timestamp('2013-03-16 00:00:00'), Timestamp('2017-07-04 00:00:00'))

In [16]:
date_range_df=pd.DataFrame({'date':  pd.date_range(recent_min_date,latest_max_date,freq='D') })

#### Embeddings
- at the store and item detail level
- not done at the datetime level unless needed

In [17]:
# embedding lookups

emb_store_lookup = stores_df[stores_df.store_nbr.isin(store_nbrs)].set_index('store_nbr').astype(str)
emb_item_lookup = items_df[items_df.item_nbr.isin(item_nbrs)].set_index('item_nbr').astype(str)

In [18]:
# must create embeddings using the latest date of each category: of these choose the earliest date
min_max_emb_date = min(list(train_df.groupby(['store_nbr'])['date'].max().values) + list(train_df.groupby(['item_nbr'])['date'].max().values))

In [20]:
%time
def generate_embeddings():
    # take only data points for the 2w for the training period for embeddings for timesake
    X = train_df[(train_df['date'] >= (latest_max_date + dt.timedelta(-7)) + dt.timedelta(-56)) & (train_df['date'] <= (latest_max_date + dt.timedelta(-7)) )].merge(
        generate_datetimedf(date_range_df['date']).applymap(str).reset_index(), on=['date'], how='left'
    ).merge(
        stores_df, on=['store_nbr'], how='left'
    ).merge(
        items_df, on=['item_nbr'], how= 'left'
    )

    emb_target = X['unit_sales'].apply(lambda x: 0 if x < 0 else x).apply(lambda x: np.log1p(x))

    X = X.drop(columns=['id','date','unit_sales']).applymap(str)

    cat_vars = categorize(X)
    embedding_dict = pick_emb_dim(cat_vars, max_dim=50)
    X_encoded, encoders = encode_categorical(X)

    embedder = Embedder(embedding_dict)

    embedder.fit(X_encoded, emb_target)
    embeddings = embedder.get_embeddings()

    return embeddings, encoders

embeddings, encoders = generate_embeddings()

CPU times: user 4 µs, sys: 3 µs, total: 7 µs
Wall time: 11.2 µs
Train on 1215573 samples, validate on 303894 samples
Epoch 1/100
1215573/1215573 [==============================] - 58s 47us/step - loss: 0.3011 - r2: 0.5929 - val_loss: 0.2702 - val_r2: 0.5631
Epoch 2/100
1215573/1215573 [==============================] - 59s 48us/step - loss: 0.2526 - r2: 0.6584 - val_loss: 0.2774 - val_r2: 0.5534
Epoch 3/100
1215573/1215573 [==============================] - 57s 47us/step - loss: 0.2413 - r2: 0.6737 - val_loss: 0.2551 - val_r2: 0.5873
Epoch 4/100
1215573/1215573 [==============================] - 60s 49us/step - loss: 0.2351 - r2: 0.6820 - val_loss: 0.2498 - val_r2: 0.5957
Epoch 5/100
1215573/1215573 [==============================] - 61s 50us/step - loss: 0.2314 - r2: 0.6871 - val_loss: 0.2474 - val_r2: 0.5999
Epoch 6/100
1215573/1215573 [==============================] - 62s 51us/step - loss: 0.2282 - r2: 0.6913 - val_loss: 0.2476 - val_r2: 0.5987
Epoch 7/100
1215573/1215573 [==============================] - 61s 50us/step - loss: 0.2258 - r2: 0.6945 - val_loss: 0.2478 - val_r2: 0.5995
Epoch 8/100
1215573/1215573 [==============================] - 61s 50us/step - loss: 0.2239 - r2: 0.6971 - val_loss: 0.2441 - val_r2: 0.6047
Epoch 9/100
1215573/1215573 [==============================] - 59s 49us/step - loss: 0.2220 - r2: 0.6997 - val_loss: 0.2422 - val_r2: 0.6077
Epoch 10/100
1215573/1215573 [==============================] - 59s 49us/step - loss: 0.2203 - r2: 0.7020 - val_loss: 0.2431 - val_r2: 0.6063
Epoch 11/100
1215573/1215573 [==============================] - 59s 48us/step - loss: 0.2188 - r2: 0.7041 - val_loss: 0.2416 - val_r2: 0.6087
Epoch 12/100
1215573/1215573 [==============================] - 59s 49us/step - loss: 0.2175 - r2: 0.7057 - val_loss: 0.2468 - val_r2: 0.6004
Epoch 13/100
1215573/1215573 [==============================] - 59s 48us/step - loss: 0.2163 - r2: 0.7074 - val_loss: 0.2462 - val_r2: 0.6012
Epoch 14/100
1215573/1215573 [==============================] - 59s 49us/step - loss: 0.2150 - r2: 0.7093 - val_loss: 0.2447 - val_r2: 0.6037
Epoch 15/100
1215573/1215573 [==============================] - 58s 48us/step - loss: 0.2138 - r2: 0.7108 - val_loss: 0.2492 - val_r2: 0.5965
Epoch 16/100
1215573/1215573 [==============================] - 63s 52us/step - loss: 0.2129 - r2: 0.7119 - val_loss: 0.2452 - val_r2: 0.6023
Epoch 17/100
1215573/1215573 [==============================] - 65s 54us/step - loss: 0.2118 - r2: 0.7135 - val_loss: 0.2464 - val_r2: 0.6012
Epoch 18/100
1215573/1215573 [==============================] - 59s 49us/step - loss: 0.2109 - r2: 0.7146 - val_loss: 0.2457 - val_r2: 0.6023
Epoch 19/100
1215573/1215573 [==============================] - 66s 55us/step - loss: 0.2100 - r2: 0.7159 - val_loss: 0.2464 - val_r2: 0.6011
Epoch 20/100
1215573/1215573 [==============================] - 70s 58us/step - loss: 0.2091 - r2: 0.7170 - val_loss: 0.2466 - val_r2: 0.6006
Epoch 21/100
1215573/1215573 [==============================] - 74s 61us/step - loss: 0.2083 - r2: 0.7181 - val_loss: 0.2477 - val_r2: 0.5986
Epoch 22/100
1215573/1215573 [==============================] - 60s 49us/step - loss: 0.2075 - r2: 0.7192 - val_loss: 0.2458 - val_r2: 0.6018
Epoch 23/100
1215573/1215573 [==============================] - 63s 52us/step - loss: 0.2068 - r2: 0.7201 - val_loss: 0.2468 - val_r2: 0.5998
Epoch 24/100
1215573/1215573 [==============================] - 59s 49us/step - loss: 0.2062 - r2: 0.7211 - val_loss: 0.2477 - val_r2: 0.5987
Epoch 25/100
1215573/1215573 [==============================] - 59s 49us/step - loss: 0.2053 - r2: 0.7223 - val_loss: 0.2502 - val_r2: 0.5948
Epoch 26/100
1215573/1215573 [==============================] - 62s 51us/step - loss: 0.2048 - r2: 0.7229 - val_loss: 0.2490 - val_r2: 0.5966
Epoch 27/100
1215573/1215573 [==============================] - 69s 57us/step - loss: 0.2042 - r2: 0.7236 - val_loss: 0.2538 - val_r2: 0.5892
Epoch 28/100
1215573/1215573 [==============================] - 74s 61us/step - loss: 0.2034 - r2: 0.7247 - val_loss: 0.2482 - val_r2: 0.5978
Epoch 29/100
1215573/1215573 [==============================] - 79s 65us/step - loss: 0.2030 - r2: 0.7254 - val_loss: 0.2528 - val_r2: 0.5908
Epoch 30/100
1215573/1215573 [==============================] - 69s 57us/step - loss: 0.2026 - r2: 0.7260 - val_loss: 0.2521 - val_r2: 0.5915
Epoch 31/100
1215573/1215573 [==============================] - 73s 60us/step - loss: 0.2019 - r2: 0.7268 - val_loss: 0.2503 - val_r2: 0.5939
Epoch 32/100
1215573/1215573 [==============================] - 101s 83us/step - loss: 0.2015 - r2: 0.7273 - val_loss: 0.2500 - val_r2: 0.5949
Epoch 33/100
1215573/1215573 [==============================] - 61s 50us/step - loss: 0.2010 - r2: 0.7280 - val_loss: 0.2496 - val_r2: 0.5951
Epoch 34/100
1215573/1215573 [==============================] - 70s 58us/step - loss: 0.2007 - r2: 0.7284 - val_loss: 0.2498 - val_r2: 0.5951
Epoch 35/100
1215573/1215573 [==============================] - 85s 70us/step - loss: 0.2002 - r2: 0.7291 - val_loss: 0.2504 - val_r2: 0.5942
Epoch 36/100
1215573/1215573 [==============================] - 81s 67us/step - loss: 0.1998 - r2: 0.7296 - val_loss: 0.2524 - val_r2: 0.5911
Epoch 37/100
1215573/1215573 [==============================] - 74s 61us/step - loss: 0.1994 - r2: 0.7302 - val_loss: 0.2530 - val_r2: 0.5902
Epoch 38/100
1215573/1215573 [==============================] - 61s 50us/step - loss: 0.1991 - r2: 0.7304 - val_loss: 0.2522 - val_r2: 0.5912
Epoch 39/100
1215573/1215573 [==============================] - 62s 51us/step - loss: 0.1987 - r2: 0.7311 - val_loss: 0.2532 - val_r2: 0.5896
Epoch 40/100
1215573/1215573 [==============================] - 58s 48us/step - loss: 0.1984 - r2: 0.7314 - val_loss: 0.2548 - val_r2: 0.5869
Epoch 41/100
1215573/1215573 [==============================] - 58s 48us/step - loss: 0.1981 - r2: 0.7319 - val_loss: 0.2536 - val_r2: 0.5886
Epoch 42/100
1215573/1215573 [==============================] - 58s 48us/step - loss: 0.1977 - r2: 0.7325 - val_loss: 0.2534 - val_r2: 0.5893
Epoch 43/100
1215573/1215573 [==============================] - 58s 48us/step - loss: 0.1974 - r2: 0.7329 - val_loss: 0.2565 - val_r2: 0.5844
Epoch 44/100
1215573/1215573 [==============================] - 64s 53us/step - loss: 0.1972 - r2: 0.7331 - val_loss: 0.2542 - val_r2: 0.5872
Epoch 45/100
1215573/1215573 [==============================] - 58s 47us/step - loss: 0.1969 - r2: 0.7337 - val_loss: 0.2539 - val_r2: 0.5883
Epoch 46/100
1215573/1215573 [==============================] - 58s 48us/step - loss: 0.1966 - r2: 0.7339 - val_loss: 0.2528 - val_r2: 0.5900
Epoch 47/100
1215573/1215573 [==============================] - 59s 49us/step - loss: 0.1963 - r2: 0.7343 - val_loss: 0.2517 - val_r2: 0.5920
Epoch 48/100
1215573/1215573 [==============================] - 58s 48us/step - loss: 0.1962 - r2: 0.7345 - val_loss: 0.2567 - val_r2: 0.5839
Epoch 49/100
1215573/1215573 [==============================] - 58s 48us/step - loss: 0.1958 - r2: 0.7351 - val_loss: 0.2556 - val_r2: 0.5853
Epoch 50/100
1215573/1215573 [==============================] - 58s 47us/step - loss: 0.1955 - r2: 0.7354 - val_loss: 0.2529 - val_r2: 0.5899
Epoch 51/100
1215573/1215573 [==============================] - 59s 48us/step - loss: 0.1954 - r2: 0.7355 - val_loss: 0.2537 - val_r2: 0.5884
Epoch 52/100
1215573/1215573 [==============================] - 58s 48us/step - loss: 0.1951 - r2: 0.7360 - val_loss: 0.2538 - val_r2: 0.5881
Epoch 53/100
1215573/1215573 [==============================] - 68s 56us/step - loss: 0.1949 - r2: 0.7361 - val_loss: 0.2560 - val_r2: 0.5846
Epoch 54/100
1215573/1215573 [==============================] - 63s 52us/step - loss: 0.1947 - r2: 0.7366 - val_loss: 0.2560 - val_r2: 0.5848
Epoch 55/100
1215573/1215573 [==============================] - 76s 62us/step - loss: 0.1946 - r2: 0.7367 - val_loss: 0.2579 - val_r2: 0.5817
Epoch 56/100
1215573/1215573 [==============================] - 91s 75us/step - loss: 0.1943 - r2: 0.7372 - val_loss: 0.2550 - val_r2: 0.5865
Epoch 57/100
1215573/1215573 [==============================] - 86s 70us/step - loss: 0.1942 - r2: 0.7372 - val_loss: 0.2548 - val_r2: 0.5870

Epoch 58/100
1215573/1215573 [==============================] - 88s 73us/step - loss: 0.1940 - r2: 0.7374 - val_loss: 0.2585 - val_r2: 0.5804
Epoch 59/100
1215573/1215573 [==============================] - 89s 73us/step - loss: 0.1938 - r2: 0.7378 - val_loss: 0.2586 - val_r2: 0.5805
Epoch 60/100
1215573/1215573 [==============================] - 88s 72us/step - loss: 0.1936 - r2: 0.7381 - val_loss: 0.2594 - val_r2: 0.5792
Epoch 61/100
1215573/1215573 [==============================] - 98s 80us/step - loss: 0.1933 - r2: 0.7382 - val_loss: 0.2581 - val_r2: 0.5816
Epoch 62/100
1215573/1215573 [==============================] - 105s 86us/step - loss: 0.1933 - r2: 0.7385 - val_loss: 0.2557 - val_r2: 0.5850
Epoch 63/100
1215573/1215573 [==============================] - 102s 84us/step - loss: 0.1931 - r2: 0.7387 - val_loss: 0.2593 - val_r2: 0.5799
Epoch 64/100
1215573/1215573 [==============================] - 102s 84us/step - loss: 0.1929 - r2: 0.7390 - val_loss: 0.2596 - val_r2: 0.5787
Epoch 65/100
1215573/1215573 [==============================] - 102s 84us/step - loss: 0.1927 - r2: 0.7392 - val_loss: 0.2644 - val_r2: 0.5716
Epoch 66/100
1215573/1215573 [==============================] - 103s 85us/step - loss: 0.1927 - r2: 0.7392 - val_loss: 0.2580 - val_r2: 0.5813
Epoch 67/100
1215573/1215573 [==============================] - 103s 84us/step - loss: 0.1926 - r2: 0.7394 - val_loss: 0.2613 - val_r2: 0.5759
Epoch 68/100
1215573/1215573 [==============================] - 103s 85us/step - loss: 0.1923 - r2: 0.7398 - val_loss: 0.2578 - val_r2: 0.5815
Epoch 69/100
1215573/1215573 [==============================] - 103s 85us/step - loss: 0.1923 - r2: 0.7398 - val_loss: 0.2579 - val_r2: 0.5813
Epoch 70/100
1215573/1215573 [==============================] - 104s 85us/step - loss: 0.1922 - r2: 0.7400 - val_loss: 0.2559 - val_r2: 0.5846
Epoch 71/100
1215573/1215573 [==============================] - 102s 84us/step - loss: 0.1920 - r2: 0.7402 - val_loss: 0.2585 - val_r2: 0.5802
Epoch 72/100
1215573/1215573 [==============================] - 101s 83us/step - loss: 0.1919 - r2: 0.7403 - val_loss: 0.2590 - val_r2: 0.5796
Epoch 73/100
1215573/1215573 [==============================] - 101s 83us/step - loss: 0.1918 - r2: 0.7405 - val_loss: 0.2614 - val_r2: 0.5760
Epoch 74/100
1215573/1215573 [==============================] - 99s 82us/step - loss: 0.1915 - r2: 0.7409 - val_loss: 0.2593 - val_r2: 0.5796
Epoch 75/100
1215573/1215573 [==============================] - 99s 82us/step - loss: 0.1915 - r2: 0.7408 - val_loss: 0.2576 - val_r2: 0.5821
Epoch 76/100
1215573/1215573 [==============================] - 99s 82us/step - loss: 0.1914 - r2: 0.7410 - val_loss: 0.2649 - val_r2: 0.5704
Epoch 77/100
1215573/1215573 [==============================] - 102s 84us/step - loss: 0.1913 - r2: 0.7409 - val_loss: 0.2609 - val_r2: 0.5767
Epoch 78/100
1215573/1215573 [==============================] - 98s 80us/step - loss: 0.1911 - r2: 0.7414 - val_loss: 0.2598 - val_r2: 0.5784
Epoch 79/100
1215573/1215573 [==============================] - 94s 78us/step - loss: 0.1911 - r2: 0.7413 - val_loss: 0.2581 - val_r2: 0.5811
Epoch 80/100
1215573/1215573 [==============================] - 95s 78us/step - loss: 0.1909 - r2: 0.7415 - val_loss: 0.2662 - val_r2: 0.5684
Epoch 81/100
1215573/1215573 [==============================] - 93s 76us/step - loss: 0.1909 - r2: 0.7417 - val_loss: 0.2606 - val_r2: 0.5769
Epoch 82/100
1215573/1215573 [==============================] - 94s 78us/step - loss: 0.1908 - r2: 0.7417 - val_loss: 0.2601 - val_r2: 0.5777
Epoch 83/100
1215573/1215573 [==============================] - 95s 79us/step - loss: 0.1907 - r2: 0.7420 - val_loss: 0.2587 - val_r2: 0.5802
Epoch 84/100
1215573/1215573 [==============================] - 84s 69us/step - loss: 0.1906 - r2: 0.7420 - val_loss: 0.2587 - val_r2: 0.5801
Epoch 85/100
1215573/1215573 [==============================] - 84s 69us/step - loss: 0.1905 - r2: 0.7421 - val_loss: 0.2604 - val_r2: 0.5773
Epoch 86/100
1215573/1215573 [==============================] - 84s 69us/step - loss: 0.1905 - r2: 0.7422 - val_loss: 0.2590 - val_r2: 0.5798
Epoch 87/100
1215573/1215573 [==============================] - 84s 69us/step - loss: 0.1903 - r2: 0.7425 - val_loss: 0.2624 - val_r2: 0.5747
Epoch 88/100
1215573/1215573 [==============================] - 84s 70us/step - loss: 0.1902 - r2: 0.7425 - val_loss: 0.2601 - val_r2: 0.5780
Epoch 89/100
1215573/1215573 [==============================] - 84s 69us/step - loss: 0.1901 - r2: 0.7426 - val_loss: 0.2591 - val_r2: 0.5793
Epoch 90/100
1215573/1215573 [==============================] - 85s 70us/step - loss: 0.1901 - r2: 0.7427 - val_loss: 0.2664 - val_r2: 0.5680
Epoch 91/100
1215573/1215573 [==============================] - 85s 70us/step - loss: 0.1900 - r2: 0.7428 - val_loss: 0.2668 - val_r2: 0.5675
Epoch 92/100
1215573/1215573 [==============================] - 86s 70us/step - loss: 0.1898 - r2: 0.7432 - val_loss: 0.2586 - val_r2: 0.5801
Epoch 93/100
1215573/1215573 [==============================] - 89s 73us/step - loss: 0.1898 - r2: 0.7433 - val_loss: 0.2634 - val_r2: 0.5722
Epoch 94/100
1215573/1215573 [==============================] - 84s 69us/step - loss: 0.1897 - r2: 0.7432 - val_loss: 0.2611 - val_r2: 0.5759
Epoch 95/100
1215573/1215573 [==============================] - 83s 69us/step - loss: 0.1897 - r2: 0.7433 - val_loss: 0.2609 - val_r2: 0.5762
Epoch 96/100
1215573/1215573 [==============================] - 83s 69us/step - loss: 0.1896 - r2: 0.7433 - val_loss: 0.2644 - val_r2: 0.5716
Epoch 97/100
1215573/1215573 [==============================] - 83s 68us/step - loss: 0.1895 - r2: 0.7434 - val_loss: 0.2624 - val_r2: 0.5744
Epoch 98/100
1215573/1215573 [==============================] - 83s 68us/step - loss: 0.1895 - r2: 0.7435 - val_loss: 0.2614 - val_r2: 0.5756
Epoch 99/100
1215573/1215573 [==============================] - 83s 68us/step - loss: 0.1894 - r2: 0.7437 - val_loss: 0.2577 - val_r2: 0.5822
Epoch 100/100
1215573/1215573 [==============================] - 83s 68us/step - loss: 0.1893 - r2: 0.7436 - val_loss: 0.2619 - val_r2: 0.5749

In [21]:
# extract embedding data
def gernerate_all_embedding_lookup_df():
    emb_key_df = pd.DataFrame(embeddings.keys(), columns=['key'])

    def generate_embedding_df(col_):
    #     if embeddings[col_].shape < 3:
        col_emb_df = pd.DataFrame(
            embeddings[col_],
            index=encoders[col_].classes_,
        ).rename_axis(col_).reset_index()
    #     else:
    
        col_emb_df.columns = [col_] + [col_ + '_' + str(x) for x in list(col_emb_df) if x != col_]

        return col_emb_df

    emb_key_df['emb_data'] = emb_key_df['key'].apply(lambda x: generate_embedding_df(x))

    return emb_key_df

all_embedding_lookup_df = gernerate_all_embedding_lookup_df()

In [22]:
# merge embedding columns to .a master lookup
def generate_master_instance_lookup():

    master_instance_lookup = most_popular_store_items_df[['store_nbr','item_nbr']].merge(stores_df).merge(items_df).astype(str)

    for df in all_embedding_lookup_df['emb_data']:
        
        try:
            master_instance_lookup = master_instance_lookup.merge(df.astype(str))
    
        except:
            pass
            print list(df)
            
            
    master_instance_lookup['store_nbr'] = master_instance_lookup['store_nbr'].astype(int)
    master_instance_lookup['item_nbr'] = master_instance_lookup['item_nbr'].astype(int)

    return master_instance_lookup

master_instance_lookup = generate_master_instance_lookup()

[u'onpromotion', u'onpromotion_0']
['datetime_day_of_week', 'datetime_day_of_week_0', 'datetime_day_of_week_1', 'datetime_day_of_week_2', 'datetime_day_of_week_3']
['datetime_is_weekend', 'datetime_is_weekend_0']

In [195]:
def create_instance_specific_features(sales_df):

    selected_item = sales_df['item_nbr'].values[0]
    selected_store = sales_df['store_nbr'].values[0]

    sales_df['unit_sales'] = sales_df['unit_sales'].apply(
        lambda x: 0 if x < 0 else x)

    # date range returns sales
    sales_date_range_df = date_range_df.merge(sales_df[['date', 'unit_sales']], how='left').set_index(
        'date').T.reset_index().rename(columns={'index': 'store_item'})
    sales_date_range_df['store_item'] = 'store_%s_item_%s' % (
        sales_df['store_nbr'].values[0], sales_df['item_nbr'].values[0])

    # promotion tensor

    promo_df = date_range_df.merge(
        sales_df[['date', 'onpromotion']], how='left')
    promo_df['onpromotion'] = promo_df['onpromotion'].fillna(
        False).apply(lambda x: 1 if x else 0)

    promo_tensor = promo_df['onpromotion'].values.reshape(
        -1, 1).reshape(1, len(promo_df), 1)
    
    store_item_details_tensors = np.tile(
    np.expand_dims(

        master_instance_lookup.loc[
            (master_instance_lookup['item_nbr'] == selected_item) & (
                master_instance_lookup['store_nbr'] == selected_store),
            [col for col in [col for col in list(master_instance_lookup) if '_' in col] if (
                col != 'store_nbr') & (col != 'item_nbr')]
        ].astype(float), axis=0

    ),     (1, date_range_df.shape[0], 1))
    
    return sales_date_range_df, promo_tensor, store_item_details_tensors

In [212]:
%%time
features = most_popular_store_items_df.apply(lambda row: create_instance_specific_features(row['raw_data']), axis=1)

# %%time
# df_dask_most_popular_store_items_df = ddf.from_pandas(most_popular_store_items_df, npartitions=10) 
# features = df_dask_most_popular_store_items_df.apply(lambda row: create_instance_specific_features(row['raw_data']), axis=1, meta=('object') ).compute(scheduler='multiprocessing')

all_sales_df = pd.concat([i[0] for i in features]).reset_index(drop=True)
promo_tensors = np.concatenate([i[1] for i in features], axis=0)
store_item_tensors = np.concatenate([i[2] for i in features], axis=0)

CPU times: user 4min 49s, sys: 45.8 s, total: 5min 35s
Wall time: 6min 14s

### Shared Datetime Tensors
- Oil Price
- Datetime Details

In [59]:
# oil price

oil_df['date']=pd.to_datetime(oil_df['date'])

oil_df = date_range_df.merge(oil_df,how='left')

oil_df['dcoilwtico']=oil_df['dcoilwtico'].interpolate()

oil_df['dcoilwtico']=oil_df['dcoilwtico'].interpolate().fillna(method='bfill')

oil_df['date'].describe()

oil_values = (oil_df['dcoilwtico'].apply(lambda x: np.log1p(
            x)) - oil_df['dcoilwtico'].apply(lambda x: np.log1p(x)).mean()).values

oil_tensors = oil_values.reshape(-1, 1).reshape(1, len(oil_values), 1)

oil_tensors = np.tile(oil_tensors, (most_popular_store_items_df.shape[0],1,1) )

In [61]:
# datetime tensors

datetime_dummy_lookup = pd.get_dummies(generate_datetimedf(date_range_df['date']).applymap(str), drop_first=True).reset_index()
# datetime_dummy_lookup.iloc[:,1:]
dt_tensors = np.expand_dims(datetime_dummy_lookup.iloc[:,1:].values, axis=0)

dt_tensors = np.tile(dt_tensors, (most_popular_store_items_df.shape[0],1,1) )

In [ ]:
np.savez_compressed('exports/store_item_tensors',store_item_tensors)

In [33]:
np.savez_compressed('exports/promo_tensors',promo_tensors)

In [38]:
np.savez_compressed('exports/oil_tensors',oil_tensors)

In [39]:
np.savez_compressed('exports/dt_tensors',dt_tensors)

In [30]:
all_sales_df.to_pickle('exports/all_sales_df.pkl')

## Analysis of Results

In [294]:
pd.DataFrame({
    'model': ['aws_deepAR_just_sales','seq_just_sales','seq_full'],
    'mae': [8.627952, 6.153596, 6.656257]
})[['model','mae']]

                   model       mae
0  aws_deepAR_just_sales  8.627952
1         seq_just_sales  6.153596
2               seq_full  6.656257

The custom seq2seq model performs 28.67% better than AWS's deepAR algorithm in MAE. Other out-of-the-box features did not help the model's performance, meaning that improvements to the model could only be made by creating more complex features, such as lags across groupings, or parameter tuning.